<a href="https://colab.research.google.com/github/ayush7garg/good-friday-gifts-hackathon/blob/master/good_friday_gifts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Importing Libraries
import pandas as pd
import numpy as np
import io
from google.colab import files

In [0]:
uploaded = files.upload()

Saving test.csv to test.csv

In [0]:
df = pd.read_csv('train.csv')

In [0]:
df.head(15)

     gift_id  gift_type  gift_category  ...  is_discounted volumes   price
0   GF_11156         61            534  ...              0     NaN  175.54
1   GF_11157         61            534  ...              1     NaN   95.80
2   GF_15689        584            262  ...              1     NaN  107.35
3   GF_11155         61            534  ...              0     NaN  172.90
4   GF_11158         61            534  ...              1     NaN   77.72
5   GF_15686        584            262  ...              1     NaN  142.84
6   GF_15690        584            262  ...              1     NaN   78.71
7   GF_15685        584            262  ...              0     NaN  166.81
8   GF_11159         61            534  ...              0     NaN   72.72
9   GF_15688        584            262  ...              1     NaN  107.12
10  GF_15687        584            262  ...              1     NaN  108.22
11  GF_19007       1136            890  ...              0     NaN  123.55
12    GF_519        168            403  ...              0    25.0  176.69
13    GF_522        168            403  ...              0    26.0   95.49
14    GF_524        168            403  ...              0    26.0  171.63

[15 rows x 17 columns]

In [0]:
df['volumes'] = df['volumes'].fillna(0)

In [0]:
df.head(5)

    gift_id  gift_type  gift_category  ...  is_discounted volumes   price
0  GF_11156         61            534  ...              0     0.0  175.54
1  GF_11157         61            534  ...              1     0.0   95.80
2  GF_15689        584            262  ...              1     0.0  107.35
3  GF_11155         61            534  ...              0     0.0  172.90
4  GF_11158         61            534  ...              1     0.0   77.72

[5 rows x 17 columns]

In [0]:
len(df.gift_type.unique())

1237

In [0]:
x_train = df.drop("price",axis=1)
y_train = df["price"]

In [0]:
cor = df.corr()
cor_target = abs(cor["price"])

In [9]:
cor_target

gift_type        0.137145
gift_category    0.286888
gift_cluster     0.282881
lsg_1            0.147712
lsg_2            0.185142
lsg_3            0.006178
lsg_4            0.222104
lsg_5            0.525773
lsg_6            0.019769
is_discounted    0.157463
volumes          0.132591
price            1.000000
Name: price, dtype: float64

In [10]:
cor

               gift_type  gift_category  ...   volumes     price
gift_type       1.000000       0.075328  ... -0.100975  0.137145
gift_category   0.075328       1.000000  ... -0.232432  0.286888
gift_cluster   -0.123263      -0.138297  ...  0.233788 -0.282881
lsg_1           0.369368       0.003494  ...  0.335478  0.147712
lsg_2          -0.063898      -0.020970  ...  0.035085 -0.185142
lsg_3           0.534393      -0.069802  ...  0.303429  0.006178
lsg_4           0.055803       0.053803  ... -0.321000 -0.222104
lsg_5          -0.073652      -0.339733  ...  0.054567 -0.525773
lsg_6           0.062589       0.085429  ... -0.161461 -0.019769
is_discounted  -0.027933       0.011843  ... -0.262461 -0.157463
volumes        -0.100975      -0.232432  ...  1.000000 -0.132591
price           0.137145       0.286888  ... -0.132591  1.000000

[12 rows x 12 columns]

In [12]:
cor.columns

Index(['gift_type', 'gift_category', 'gift_cluster', 'lsg_1', 'lsg_2', 'lsg_3',
       'lsg_4', 'lsg_5', 'lsg_6', 'is_discounted', 'volumes', 'price'],
      dtype='object')

In [13]:
type(cor_target)

pandas.core.series.Series

In [19]:
list(cor_target.index)

['gift_type',
 'gift_category',
 'gift_cluster',
 'lsg_1',
 'lsg_2',
 'lsg_3',
 'lsg_4',
 'lsg_5',
 'lsg_6',
 'is_discounted',
 'volumes',
 'price']

In [0]:
cor_target = pd.DataFrame(cor_target)

In [16]:
cor_target.head(5)

                  price
gift_type      0.137145
gift_category  0.286888
gift_cluster   0.282881
lsg_1          0.147712
lsg_2          0.185142

In [0]:
cor_target = cor_target.T

In [0]:
to_drop = [i for i in list(cor_target.columns) if cor_target[i]['price']<0.1]

In [34]:
to_drop

['lsg_3', 'lsg_6']

In [0]:
x_train = x_train.drop(columns=to_drop)