<a href="https://colab.research.google.com/github/ayush7garg/good-friday-gifts-hackathon/blob/master/good_friday_gifts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Importing Libraries
import pandas as pd
import numpy as np
import io
from google.colab import files

In [0]:
uploaded = files.upload()

Saving test.csv to test.csv

In [0]:
df = pd.read_csv('train.csv')

FileNotFoundError: ignored

In [0]:
df.head(15)

     gift_id  gift_type  gift_category  ...  is_discounted volumes   price
0   GF_11156         61            534  ...              0     NaN  175.54
1   GF_11157         61            534  ...              1     NaN   95.80
2   GF_15689        584            262  ...              1     NaN  107.35
3   GF_11155         61            534  ...              0     NaN  172.90
4   GF_11158         61            534  ...              1     NaN   77.72
5   GF_15686        584            262  ...              1     NaN  142.84
6   GF_15690        584            262  ...              1     NaN   78.71
7   GF_15685        584            262  ...              0     NaN  166.81
8   GF_11159         61            534  ...              0     NaN   72.72
9   GF_15688        584            262  ...              1     NaN  107.12
10  GF_15687        584            262  ...              1     NaN  108.22
11  GF_19007       1136            890  ...              0     NaN  123.55
12    GF_519        168            403  ...              0    25.0  176.69
13    GF_522        168            403  ...              0    26.0   95.49
14    GF_524        168            403  ...              0    26.0  171.63

[15 rows x 17 columns]

In [0]:
df['volumes'] = df['volumes'].fillna(0)

In [0]:
df.head(5)

    gift_id  gift_type  gift_category  ...  is_discounted volumes   price
0  GF_11156         61            534  ...              0     0.0  175.54
1  GF_11157         61            534  ...              1     0.0   95.80
2  GF_15689        584            262  ...              1     0.0  107.35
3  GF_11155         61            534  ...              0     0.0  172.90
4  GF_11158         61            534  ...              1     0.0   77.72

[5 rows x 17 columns]

In [0]:
len(df.gift_type.unique())

1237

In [0]:
x_train = df.drop("price",axis=1)
y_train = df["price"]